Repository Team-Capple/Qapple-iOS, pull requests merged in 2025-03, with the labels that each got.

#323 [Feat] TodayQuestion, QuestionList 유닛테스트 작성
  Qapple/Qapple.xcodeproj/project.pbxproj
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-2.TodayQuestion/TodayQuestionFeature.swift
  Qapple/QappleTests/2.QuestionTab/QuestionListTests.swift
  Qapple/QappleTests/2.QuestionTab/TodayQuestionTests.swift
  Qapple/QappleTests/QappleTests.swift
  Qapple/QappleTests/TestError.swift
Labels: PR-Reviewing

#325 [Feat] TodayQuestionView 3D Asset 애니메이션 추가
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-2.TodayQuestion/TodayQuestionView.swift
Labels: Feat, PR-Reviewing

#327 [FEAT] like 버튼 GA 활성화
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-1.BulletinBoard/BulletinBoardFeature.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-2.BulletinBoardPost/BulletinBoardPostFeature.swift
Labels: Feat, PR-Reviewing

#328 [Feat] Github Actions을 사용한 CI 적용
  .github/workflows/qappleCI.yml
  .gitignore
  Qapple/Qapple.xcodeproj/xcshareddata/xcschemes/Qapple.xcscheme
Labels: Feat, PR-Reviewing

#332 [Feat] 아카데미 전체 일정표 기능 구현
  Qapple/Qapple.xcodeproj/project.pbxproj
  Qapple/Qapple.xcodeproj/xcshareddata/xcschemes/Qapple.xcscheme
  Qapple/Qapple/QappleBox/Qapple.xctestplan
  Qapple/Qapple/Resource/Assets.xcassets/Helper/gradientSeparator.imageset/Contents.json
  Qapple/Qapple/Resource/Assets.xcassets/Helper/gradientSeparator.imageset/Rectangle 34627306.svg
  Qapple/Qapple/Resource/Assets.xcassets/Icon/Contents.json
  Qapple/Qapple/Resource/Assets.xcassets/Icon/NoticeIcon.imageset/Contents.json
  Qapple/Qapple/Resource/Assets.xcassets/Icon/NoticeIcon.imageset/NoticeIcon.svg
  Qapple/Qapple/Resource/Assets.xcassets/Icon/calendarIcon.imageset/Contents.json
  Qapple/Qapple/Resource/Assets.xcassets/Icon/calendarIcon.imageset/Frame 427319096.svg
  Qapple/Qapple/Resource/Assets.xcassets/Icon/halfArrow.imageset/Contents.json
  Qapple/Qapple/Resource/Assets.xcassets/Icon/halfArrow.imageset/Frame 427319097.svg
  Qapple/Qapple/Resource/Assets.xcassets/Icon/longHalfArrowActive.imageset/Contents.json
  Qapple/Qapple/Resource/Assets.xcassets/Icon/longHalfArrowActive.imageset/longHalfArrowActive.svg
  Qapple/Qapple/Resource/Assets.xcassets/Icon/longHalfArrowInActive.imageset/Contents.json
  Qapple/Qapple/Resource/Assets.xcassets/Icon/longHalfArrowInActive.imageset/longHalfArrowInActive.svg
  Qapple/Qapple/Resource/Assets.xcassets/TodayQuestionView/NoticeIcon.imageset/Contents.json
  Qapple/Qapple/SourceCode/Entity/AcademyEvent.swift
  Qapple/Qapple/SourceCode/Entity/AcademyEventFor4th.swift
  Qapple/Qapple/SourceCode/Feature/0.SignUpFlow/0-2.SocialLogin/SocialLoginView.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-2.TodayQuestion/TodayQuestionView.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-3.QuestionList/QuestionListView.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-1.BulletinBoard/BulletinBoardFeature.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-1.BulletinBoard/BulletinBoardView.swift
  Qapple/Qapple/SourceCode/UIComponent/QPAcademyDayCounter.swift
  Qapple/Qapple/SourceCode/UIComponent/QPAcademyScheduleSheet.swift
  Qapple/Qapple/SourceCode/Utility/Calendar+.swift
  Qapple/Qapple/SourceCode/Utility/CustomGradient+.swift
  Qapple/Qapple/SourceCode/Utility/DayCounter+.swift
  Qapple/Qapple/SourceCode/Utility/Formatter+.swift
  Qapple/Qapple/SourceCode/Utility/ScalableButtonStyle.swift
Labels: Feat, PR-Reviewing

#336 [FEAT] 게시글 기수 반영
  Qapple/Qapple.xcodeproj/project.pbxproj
  Qapple/Qapple/SourceCode/Data/Repository/BulletinBoardRepository.swift
  Qapple/Qapple/SourceCode/Data/Repository/NotificationRepository.swift
  Qapple/Qapple/SourceCode/Data/Service/RepositoryService.swift
  Qapple/Qapple/SourceCode/Entity/BulletinBoard.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-1.BulletinBoard/BulletinBoardCell.swift
  Qapple/Qapple/SourceCode/Feature/4.Comment/CommentView.swift
Labels: Feat, PR-Reviewing

#342 [FEAT] 마이너 버그 업데이트
  Qapple/Qapple/SourceCode/Entity/AcademyEventFor4th.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-2.TodayQuestion/TodayQuestionView.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-3.QuestionList/QuestionListView.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-1.BulletinBoard/BulletinBoardFeature.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-1.BulletinBoard/BulletinBoardView.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-3.BulletinBoardSearch/BulletinBoardSearchFeature.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-3.BulletinBoardSearch/BulletinBoardSearchView.swift
  Qapple/Qapple/SourceCode/Feature/4.Comment/CommentView.swift
  Qapple/Qapple/SourceCode/Feature/5.Profile/5-1.Profile/ProfileFeature.swift
  Qapple/Qapple/SourceCode/Feature/6.Notification/NotificationFeature.swift
  Qapple/Qapple/SourceCode/Feature/6.Notification/NotificationListView.swift
  Qapple/Qapple/SourceCode/Feature/8.Report/ReportView.swift
  Qapple/Qapple/SourceCode/UIComponent/QPAcademyScheduleSheet.swift
  Qapple/Qapple/SourceCode/Utility/NetworkErrorAlert+.swift
  Qapple/Qapple/SourceCode/Utility/Pagination+.swift
  Qapple/Qapple/SourceCode/Utility/ScalableButtonStyle.swift
Labels: Fix, PR-Reviewing

#347 [Fix] 유닛 테스트 수정
  Qapple/QappleTests/2.QuestionTab/TodayQuestionTests.swift
  Qapple/QappleTests/4.Comment/CommentTests.swift
Labels: Fix

#349 [FEAT] 3.0.1 배포
  Qapple/Qapple.xcodeproj/project.pbxproj
  Qapple/Qapple.xcodeproj/xcshareddata/xcschemes/Qapple.xcscheme
  Qapple/Qapple/QappleApp.swift
  Qapple/Qapple/SourceCode/App/AppDelegate.swift
  Qapple/Qapple/SourceCode/Feature/0.SignUpFlow/0-8.SignUpComplete/SignUpCompleteView.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-3.QuestionList/QuestionListView.swift
Labels: Feat, PR-Reviewing

#351 [DOCS] README 기본 틀 생성
  README.md
Labels: Chore, PR-Reviewing

#354 [CHORE] 아카데미 캘린더 UI 조정
  Qapple/Qapple/SourceCode/UIComponent/QPAcademyScheduleSheet.swift
Labels: Chore, PR-Reviewing

#355 [Feat] 차단 기능 구현
  Qapple/Qapple/SourceCode/Data/Repository/AnswerRepository.swift
  Qapple/Qapple/SourceCode/Entity/Answer.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-2.TodayQuestion/TodayQuestionFeature.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-2.TodayQuestion/TodayQuestionView.swift
  Qapple/Qapple/SourceCode/Feature/2.QuestionTab/2-6.AnswerList/AnswerListFeature.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-1.BulletinBoard/BulletinBoardFeature.swift
  Qapple/Qapple/SourceCode/Feature/3.BulletinBoard/3-3.BulletinBoardSearch/BulletinBoardSearchFeature.swift
  Qapple/Qapple/SourceCode/Feature/4.Comment/CommentFeature.swift
  Qapple/Qapple/SourceCode/Feature/7.SeeMoreSheet/SeeMoreSheetFeature.swift
  Qapple/Qapple/SourceCode/Feature/7.SeeMoreSheet/SeeMoreSheetView.swift
  Qapple/Qapple/SourceCode/UIComponent/QPAnswerCell.swift
  Qapple/Qapple/SourceCode/Utility/UserDefaults+.swift
Labels: Feat, PR-Reviewing
